.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contact-section h3 {
    font-size: 28px;
}

.contact {
    max-width: 1000px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-form-container {
    max-width: 400px;
    width: 100%;
}

.contact-form-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name, .email, .msg {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 5px;
}

.name input, .email input, .msg textarea {
    text-align: center;
    border-radius: 10px;
    background-color: var(--borde-suave);
    color: var(--main-text-color);
    border: none;
    outline: none;
    border-bottom: 2px solid var(--borde-suave);
}

.name input, .email input {
    height: 30px;
}

.msg textarea {
    resize: none;
    height: 100px;
}

.name input:focus, .email input:focus, .msg textarea:focus {
    border-bottom: 2px solid var(--acento);
}

.submit-contact {
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid var(--acento);
    background-color: var(--main-text-color);
    color: var(--acento);
    transition: background .2s, color .2s;
}

.submit-contact:hover {
    background-color: var(--acento);
    color: var(--main-text-color);
}

.contact-info-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
    border-radius: 10px;
    background-color: var(--bg-card);
    border: 1px solid var(--borde-suave);
}

.phone, .github {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.parraph {
    text-align: center;
}

.contact-info-container a {
    text-decoration: none;
    color: var(--main-text-color);
}

.contact-info-container img {
    height: 30px;
    width: 30px;
}

.contact-info-container svg {
    height: 30px;
    width: 30px;
}



@media (max-width: 1024px) {
    .contact-section {
        height: 100%;
        gap: 50px;
    }

    .contact {
        flex-direction: column;
        justify-content: start;
        gap: 50px;
    }
}